[project]
	description = Puppet Labs Reference and Testing Deployment Module for OpenStack (master tracks Liberty)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/salmankh
[access "refs/for/refs/*"]
	read = group user/salmankh
	push = group user/salmankh
	label-Code-Review = -2..+2 group user/salmankh
	label-Verified = -1..+1 group user/salmankh
	rebase = group user/salmankh
	removeReviewer = group user/salmankh
	submit = group user/salmankh
[access "refs/heads/*"]
	read = group user/salmankh
	create = group user/salmankh
	push = +force group user/salmankh
	pushMerge = group user/salmankh
[access "refs/tags/*"]
	push = +force group user/salmankh
	pushTag = group user/salmankh
	pushSignedTag = group user/salmankh
[receive]
	requireSignedOffBy = true
	requireChangeId = true
